<div class="card border-dark mx-auto" style="max-width: 1000px;">
<div class="card-header" style="background-color:#7fcf9d;"><strong>Meme ID: </strong> <small style="text-decoration: underline;">{{this._id}}</small></div>
<div class="card-body text-dark">
    <h5 class="card-title"><strong>{{this.name}}</strong><small><i style="padding-left: 1em;font-size:smaller;">Posted on {{this.date}}</i></small></h5>
    <p class="card-text">{{this.caption}}</p>
    <img src={{this.imgURL}} class="img-thumbnail" alt="MemeImage{{this._id}}" width="100%" height="">
</div>
</div>