<!-- HTML display for showing meme cards -->

<div class="card border-dark mx-auto" style="max-width: 1000px;">
    <div class="card-header" style="background-color:#7fcf9d;">
        <strong>Meme ID: </strong> <small style="text-decoration: underline;">{{this.id}}</small>
        <div style="position: absolute; right:0;display:inline;cursor:pointer;">
            <form action="/memes/edit/{{this.id}}" method="POST" style="display : inline;">
                <button style="background-color: transparent;border:none; outline:none;"><img src="/icons/pencil.svg" title="Edit" style="padding-right: 0.5em;" onclick="this.form.submit()"></button>
            </form>
            <form method="post" action="/memes/delete/{{this.id}}" style="display:inline;">
                <button style="background-color: transparent;border:none;outline:none;"><img src="/icons/trash.svg" id="delete" title="Delete" style="padding-right: 1em;" onclick="this.form.submit()"></button>
            </form>
        </div>
    </div>
    <div class="card-body text-dark">
        <h5 class="card-title"><strong>{{this.name}}</strong><small><i style="padding-left: 1em;font-size:smaller;">{{this.date}}</i></small></h5>
        <p class="card-text">{{this.caption}}</p>
        <img src={{this.url}} class="img-thumbnail" title="{{this.url}}" alt="MemeImage{{this.id}}" width="100%" height="">
    </div>
</div>